---
import { projects } from "../../consts";
import ProjectCard from "../project-card.astro";
---

<section id="projects" class="space-y-10">
  <h2 class="flex items-center text-3xl font-bold text-white">
    <span class="text-accent">/</span>
    projects
  </h2>
  <div class="space-y-4">
    {projects.map((project) => <ProjectCard {...project} />)}
  </div>
</section>
