---
import BaseLayout from "../layouts/base-layout.astro";
---

<BaseLayout title="404 - Page Not Found" description="Page not found">
  <h1 class="mb-8 text-2xl">404 - Page Not Found</h1>

  <div class="space-y-4">
    <p>Oops! It seems like you've ventured into uncharted territory.</p>
    <ul class="list-inside list-disc space-y-2">
      <li>
        <a href="/" class="text-accent hover:underline">
          Return to the homepage
        </a>
      </li>
      <li>
        <a href="/projects" class="text-accent hover:underline">
          Check out my projects
        </a>
      </li>
      <li>
        <a href="/blog" class="text-accent hover:underline">
          Read my latest blog posts
        </a>
      </li>
    </ul>
  </div></BaseLayout
>
